html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: auto;
  max-width: 1920px;
  width: 100vw;
  overflow-x: hidden;

  background-image: url(./images/whitepink.png);

  #root {
    margin: 0;

    .App {
      width: 100vw;
    }
  }

}

header {
  width: 100%;
  padding-top: 15px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      padding: 0 15px;
    }
  }

  #socials {
    i {
      font-size: 2em;
    }
    ul {
      .facebookLogo {
        a {
          color: blue;
        }
      }
      .twitterLogo {
        a {
          color: rgb(0, 138, 202);
        }
      }
      .instagramLogo {
        a {
          color: rgb(161, 31, 161);
        }
      }
    }
  }

  #centerLogo {
    i {
      font-size: 4.5em;
    }
  }
  
  #navBar {
    ul {
      @media only screen and (min-width:568px) {
        padding-left: 25px;
      }

      li {
        a {
          color: black;
          font-size: 1.1em;
          font-weight: 600;
        }
      }
    }
  }
}

.jumbotron {
  padding: 0;
  max-height: 500px;
  background-color: transparent;

  #box1 {
    background-image: url(./images/coralbg.png);
    height: 500px;
    width: 100%;
    position: relative;
    z-index: 2;
    -webkit-clip-path: polygon(0 7%, 100% 0, 100% 86%, 0 100%);
    clip-path: polygon(0 7%, 100% 0, 100% 86%, 0 100%);
    @media only screen and (max-width: 568px) {
      background-position: right;
    }

    .jumboText {
      height: 80%;
      margin: auto;
      padding: 15px 0;

      h1 {
        margin-left: 15px;
        font-weight: 600;
        font-size: 4em;
        color: white;
      }

      p {
        margin-bottom: 50px;
        margin-right: 15px;
        font-style: italic;
        color: white;
        font-weight: bold;
      }
    }

  }
  #box2 {
    background-image: url(./images/cyanbg.png);
    background-position: right;
    height: 500px;
    width: 100%;
    float: left;
    position: relative;
    z-index: 1;
    top: -500px;
    margin-bottom: -500px;
    overflow: hidden;
    -webkit-clip-path: polygon(0 0, 100% 7%, 100% 100%, 0 70%);
    clip-path: polygon(0 0, 100% 7%, 100% 100%, 0 70%);
    @media only screen and (max-width: 568px) {
      background-position-x: bottom;
    }
  }
}

#about {
  width: 90%;
  margin: auto;
  padding: 20px 0 90px 10px;
  background-image: url(./images/cyanbg.png);
  clip-path: polygon(0 0, 100% 8%, 96% 85%, 2% 92%);

  h2 {
    font-weight: 600;
    padding-top: 15px;
    color: white;
    margin-bottom: 10px;

    &:after {
      content: '';
      display: block;
      width: 50%;
      border-bottom: 2px solid white;
      margin: auto;
      margin-top: 10px;
    }
  }

  .row {

    div {
      
      img {
        position: relative;
        width: 90px;
        height: 90px;
        clip-path: circle(50% at 50% 50%);
        border: 2px solid coral;
        border-radius: 100px;
      }

      .imgleft {
        margin-right: 15px;
      }
      .imgright {
        margin-left: 15px;
        margin-right: 10px;
      }

      span {
        h3 {
          font-size: 1.3em;
          font-weight: 600;
          padding-top: 15px;
          color: white;
        }
        p {
          max-width: 300px;
          margin-bottom: 15px;
        }
      }
    }
  }

  .row2 {
    &:after {
      content: '';
      width: 60%;
      display: block;
      margin: 30px auto;
      border: 1px solid white;
    }
  }

  .aboutBottomP {
    font-style: italic;
    font-size: 1.1em;
    padding: 0 25px;
  }
}

#reviews {
  width: 90%;
  margin: auto;
  padding: 20px 0 90px 10px;

  #reviewTitle {
    background-image: url(./images/magentabg.png);
    padding: 10px 25px 7px 40px;
    clip-path: polygon(9% 0, 89% 26%, 100% 100%, 23% 100%);
    color: white;

    h2 {
      font-weight: 600;
    }
  }
}

#contact {
  width: 90%;
  margin: auto;
  padding: 20px 0 90px 10px;

  #contactTitle {
    background-image: url(./images/magentabg.png);
    padding: 10px 25px 7px 40px;
    clip-path: polygon(16% 14%, 100% 0, 84% 100%, 3% 100%);
    color: white;

    h2 {
      font-weight: 600;
    }
  }
}